#connect{color:red;text-align:center;}
 .full{color:blue; background:yellow}
 .tutorials{color:orange; background:black;padding:5px}
 #creation{color:black;background:green;}
 .g{color:#4285F4;}
 #o{color:#EA4335;}
 #o2{color:#FBBC05;}
 .l{color:#34A853;}